In [1]:
from pandas import read_csv
from numpy import set_printoptions
from sklearn.model_selection import train_test_split 
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = 'criminal_train.csv'
train_df = read_csv(train)

test = 'criminal_test.csv'
test_df = read_csv(test)

In [3]:
combine = [train_df,test_df]

In [4]:
train_df.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0
1,13005143,4,1,3,1,2,1,1,1,99,...,2,2,2,3,2,2,1627.108106,40015,2,1
2,67415143,4,1,2,1,2,1,1,1,99,...,2,2,2,3,2,2,4344.957980,40024,1,0
3,70925143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,792.521931,40027,1,0
4,75235143,1,0,6,1,4,1,1,1,99,...,2,2,2,2,2,2,1518.118526,40001,2,0

In [5]:
train_df.tail()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
45713,29663679,4,1,3,1,2,1,1,1,99,...,2,2,2,2,2,2,11212.106960,40011,1,0
45714,43073679,4,0,3,1,1,1,2,1,2,...,2,2,1,1,2,2,5733.239983,40035,2,0
45715,52173679,4,0,6,1,4,1,2,1,99,...,2,2,1,1,2,2,1490.027425,40040,1,0
45716,29283679,4,0,1,1,1,1,1,1,99,...,2,2,2,2,2,2,3847.137418,40050,1,0
45717,87483679,4,0,4,1,1,1,1,1,99,...,2,2,1,1,2,2,11357.793720,40018,2,0

In [6]:
train_df.describe()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
count,4.571800e+04,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,...,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000
mean,5.445446e+07,3.355549,0.476486,3.426375,1.001706,2.084124,1.007437,1.162606,1.011024,97.394943,...,2.219410,2.234940,1.646135,1.764666,1.978936,1.978739,4692.661179,40023.739118,1.493854,0.069447
std,2.553911e+07,1.176651,0.888472,1.427420,0.061314,1.102988,0.123162,0.469029,0.146444,12.355156,...,5.295784,5.293651,0.618403,0.771411,0.144510,0.145161,5724.659486,265.140430,0.500230,0.254216
min,1.000222e+07,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,3.233189e+07,4.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1252.396472,40013.000000,1.000000,0.000000
50%,5.411043e+07,4.000000,0.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2719.335160,40025.000000,1.000000,0.000000
75%,7.612731e+07,4.000000,1.000000,4.000000,1.000000,3.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5765.810794,40039.000000,2.000000,0.000000
max,9.999956e+07,4.000000,3.000000,6.000000,3.000000,4.000000,3.000000,3.000000,3.000000,99.000000,...,98.000000,98.000000,3.000000,3.000000,2.000000,2.000000,109100.623000,40050.000000,2.000000,1.000000

#correlation matrix
corrmat = train_df.corr()
f, ax = plt.subplots(figsize=(20, 9))
sns.heatmap(corrmat, vmax=.8, annot=True);

# most correlated features
corrmat = train_df.corr()
top_corr_features = corrmat.index[abs(corrmat["Criminal"])>0.5]
plt.figure(figsize=(10,10))
g = sns.heatmap(train_df[top_corr_features].corr(),annot=True,cmap="RdYlGn")

from scipy import stats
from scipy.stats import norm, skew #for some statistics

sns.distplot(train_df['Criminal'] , fit=norm);

# Get the fitted parameters used by the function
(mu, sigma) = norm.fit(train_df['Criminal'])
print( '\n mu = {:.2f} and sigma = {:.2f}\n'.format(mu, sigma))
plt.legend(['Normal dist. ($\mu=$ {:.2f} and $\sigma=$ {:.2f} )'.format(mu, sigma)],
            loc='best')
plt.ylabel('Frequency')
plt.title('Criminal')

fig = plt.figure()
res = stats.probplot(train_df['Criminal'], plot=plt)
plt.show()

In [7]:
print("Find most important features relative to target")
corr = train_df.corr()
corr.sort_values(["Criminal"], ascending = False, inplace = True)
print(corr.Criminal)
#this you can see at the time of heatmap also.

Find most important features relative to target
Criminal    1.000000
IRHH65_2    0.112589
HLTINNOS    0.106967
IROTHHLT    0.104196
IIPRVHLT    0.103360
IIOTHHLT    0.095032
HLCLAST     0.091338
PRVHLTIN    0.089960
IRMCDCHP    0.081704
HLLOSRSN    0.081006
CAIDCHIP    0.052671
IIINSUR4    0.049871
IIMCDCHP    0.048222
ANYHLTI2    0.046698
CHAMPUS     0.040844
IICHMPUS    0.040529
HLNVREF     0.038382
HLNVCOST    0.038380
HLNVSOR     0.038379
HLNVOFFR    0.038379
HLNVNEED    0.038378
IIFAMSSI    0.038064
IIMEDICR    0.037516
IIFAMIN3    0.037193
IIFAMSVC    0.035574
IIFAMPMT    0.034474
PDEN10      0.033048
COUTYP2     0.031587
MEDICARE    0.031178
IIPINC3     0.029628
              ...
PRXRETRY    0.004966
IRFAMPMT    0.004810
IIHH65_2    0.004112
VESTR       0.002355
MAIIN102    0.002309
IRWELMOS    0.001917
GOVTPROG    0.001719
AIIND102    0.001484
PERID      -0.000396
IRFAMSVC   -0.000553
IRFAMSSI   -0.002666
IIWELMOS   -0.007639
VEREP      -0.007738
HLCALL99   -0.034450
HLCALLFG   -0.034450
PRXYDATA   -0.038797
IRKI17_2   -0.039168
IFATHER    -0.049935
IRHHSIZ2   -0.068281
HLCNOTYR   -0.069716
OTHINS     -0.075629
IRINSUR4   -0.088959
NRCH17_2   -0.091212
IRFAMSOC   -0.110676
IRPINC3    -0.128830
IRMEDICR   -0.144131
POVERTY3   -0.148304
GRPHLTIN   -0.194188
IRFAMIN3   -0.194889
IRPRVHLT   -0.204797
Name: Criminal, Length: 72, dtype: float64

In [8]:
print("Before", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape)

Before (45718, 72) (11430, 71) (45718, 72) (11430, 71)

In [9]:
train_df = train_df.drop(["IRHH65_2","HLTINNOS","IROTHHLT","IIPRVHLT"], axis=1)

In [10]:
test_df = test_df.drop(["IRHH65_2","HLTINNOS","IROTHHLT","IIPRVHLT"], axis=1)

In [11]:
print (type(train_df))

<class 'pandas.core.frame.DataFrame'>

In [12]:
print("Before", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape)

Before (45718, 68) (11430, 67) (45718, 72) (11430, 71)

In [13]:
print(train_df.columns.values)

['PERID' 'IFATHER' 'NRCH17_2' 'IRHHSIZ2' 'IIHHSIZ2' 'IRKI17_2' 'IIKI17_2'
 'IIHH65_2' 'PRXRETRY' 'PRXYDATA' 'MEDICARE' 'CAIDCHIP' 'CHAMPUS'
 'PRVHLTIN' 'GRPHLTIN' 'HLCNOTYR' 'HLCNOTMO' 'HLCLAST' 'HLLOSRSN'
 'HLNVCOST' 'HLNVOFFR' 'HLNVREF' 'HLNVNEED' 'HLNVSOR' 'IRMCDCHP'
 'IIMCDCHP' 'IRMEDICR' 'IIMEDICR' 'IRCHMPUS' 'IICHMPUS' 'IRPRVHLT'
 'IIOTHHLT' 'HLCALLFG' 'HLCALL99' 'ANYHLTI2' 'IRINSUR4' 'IIINSUR4'
 'OTHINS' 'CELLNOTCL' 'CELLWRKNG' 'IRFAMSOC' 'IIFAMSOC' 'IRFAMSSI'
 'IIFAMSSI' 'IRFSTAMP' 'IIFSTAMP' 'IRFAMPMT' 'IIFAMPMT' 'IRFAMSVC'
 'IIFAMSVC' 'IRWELMOS' 'IIWELMOS' 'IRPINC3' 'IRFAMIN3' 'IIPINC3'
 'IIFAMIN3' 'GOVTPROG' 'POVERTY3' 'TOOLONG' 'TROUBUND' 'PDEN10' 'COUTYP2'
 'MAIIN102' 'AIIND102' 'ANALWT_C' 'VESTR' 'VEREP' 'Criminal']

In [14]:
train_df = train_df.drop("PERID", axis=1)

In [15]:
X_train = train_df.drop("Criminal", axis=1)
Y_train = train_df["Criminal"]
X_test  = test_df.drop("PERID", axis=1).copy()

((45718, 66), (45718,), (11430, 66))

In [16]:

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from pandas import Series,DataFrame
import random as rnd

In [17]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
print(acc_log)

93.01

svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

In [18]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

94.52

In [19]:
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

25.39

In [20]:
perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

c:\python\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.perceptron.Perceptron'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

93.05

In [21]:
# Linear SVC

linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

92.99

In [22]:
# Stochastic Gradient Descent

sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

c:\python\lib\site-packages\sklearn\linear_model\stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

93.05

In [17]:
# Decision Tree
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

100.0

In [18]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

100.0

In [ ]:
#Ensemble all models using voting classifier
from sklearn.ensemble import VotingClassifier
votingC = VotingClassifier(estimators=[('rfc', model_2),('dct',model_1),('adb',model_3),('grb',model_4)], voting='soft', n_jobs=4)
votingC.fit(X_train,y_train)
y_pred5=votingC.predict(X_test)

In [19]:
import pandas as pd

In [27]:
submission1 = pd.DataFrame({
        "PERID": test_df["PERID"],
        "Criminal": Y_pred
    })

In [28]:
submission1.to_csv('sample_submission9knn.csv', index=False,  columns = ["PERID","Criminal"])

In [29]:
models = pd.DataFrame({
    'Model': [ 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [ acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model   Score
2               Random Forest  100.00
7               Decision Tree  100.00
0                         KNN   94.52
4                  Perceptron   93.05
5  Stochastic Gradient Decent   93.05
1         Logistic Regression   93.01
6                  Linear SVC   92.99
3                 Naive Bayes   25.39

In [30]:
submission = pd.DataFrame({
        "PERID": test_df["PERID"],
        "Criminal": Y_pred
    })
# submission.to_csv('../output/submission.csv', index=False)

In [31]:
submission.to_csv('sample_submission4.csv', index=False,  columns = ["PERID","Criminal"])