In [1]:
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
train = 'criminal_train.csv'
train_df = pd.read_csv(train)

test = 'criminal_test.csv'
test_df = pd.read_csv(test)

In [3]:
combine = [train_df,test_df]

In [4]:
train_df.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
0,25095143,4,2,4,1,3,1,1,1,99,...,1,2,1,1,2,2,3884.805998,40026,1,0
1,13005143,4,1,3,1,2,1,1,1,99,...,2,2,2,3,2,2,1627.108106,40015,2,1
2,67415143,4,1,2,1,2,1,1,1,99,...,2,2,2,3,2,2,4344.957980,40024,1,0
3,70925143,4,0,2,1,1,1,1,1,99,...,2,2,1,1,2,2,792.521931,40027,1,0
4,75235143,1,0,6,1,4,1,1,1,99,...,2,2,2,2,2,2,1518.118526,40001,2,0

In [5]:
test_df.head()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
0,66583679,4,0,4,1,2,1,1,1,99,...,2,2,2,1,1,2,2,16346.795400,40020,1
1,35494679,4,0,4,1,1,1,1,1,99,...,3,2,2,1,1,2,2,3008.863906,40044,2
2,79424679,2,0,3,1,2,1,1,1,99,...,1,2,2,2,2,2,2,266.952503,40040,2
3,11744679,4,0,6,1,2,1,1,1,99,...,3,2,2,1,1,2,2,5386.928199,40017,1
4,31554679,1,0,4,1,3,1,1,1,99,...,3,2,1,1,1,2,2,173.489895,40017,1

In [6]:
train_df.describe()

,PERID,IFATHER,NRCH17_2,IRHHSIZ2,IIHHSIZ2,IRKI17_2,IIKI17_2,IRHH65_2,IIHH65_2,PRXRETRY,...,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP,Criminal
count,4.571800e+04,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,...,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000,45718.000000
mean,5.445446e+07,3.355549,0.476486,3.426375,1.001706,2.084124,1.007437,1.162606,1.011024,97.394943,...,2.219410,2.234940,1.646135,1.764666,1.978936,1.978739,4692.661179,40023.739118,1.493854,0.069447
std,2.553911e+07,1.176651,0.888472,1.427420,0.061314,1.102988,0.123162,0.469029,0.146444,12.355156,...,5.295784,5.293651,0.618403,0.771411,0.144510,0.145161,5724.659486,265.140430,0.500230,0.254216
min,1.000222e+07,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000
25%,3.233189e+07,4.000000,0.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1252.396472,40013.000000,1.000000,0.000000
50%,5.411043e+07,4.000000,0.000000,3.000000,1.000000,2.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2719.335160,40025.000000,1.000000,0.000000
75%,7.612731e+07,4.000000,1.000000,4.000000,1.000000,3.000000,1.000000,1.000000,1.000000,99.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5765.810794,40039.000000,2.000000,0.000000
max,9.999956e+07,4.000000,3.000000,6.000000,3.000000,4.000000,3.000000,3.000000,3.000000,99.000000,...,98.000000,98.000000,3.000000,3.000000,2.000000,2.000000,109100.623000,40050.000000,2.000000,1.000000

In [7]:
print('Before',train_df.shape,test_df.shape)

Before (45718, 72) (11430, 71)

In [8]:
corr = train_df.corr()
corr.sort_values(['Criminal'],ascending=False,inplace = True)
corr.Criminal

Criminal    1.000000
IRHH65_2    0.112589
HLTINNOS    0.106967
IROTHHLT    0.104196
IIPRVHLT    0.103360
IIOTHHLT    0.095032
HLCLAST     0.091338
PRVHLTIN    0.089960
IRMCDCHP    0.081704
HLLOSRSN    0.081006
CAIDCHIP    0.052671
IIINSUR4    0.049871
IIMCDCHP    0.048222
ANYHLTI2    0.046698
CHAMPUS     0.040844
IICHMPUS    0.040529
HLNVREF     0.038382
HLNVCOST    0.038380
HLNVSOR     0.038379
HLNVOFFR    0.038379
HLNVNEED    0.038378
IIFAMSSI    0.038064
IIMEDICR    0.037516
IIFAMIN3    0.037193
IIFAMSVC    0.035574
IIFAMPMT    0.034474
PDEN10      0.033048
COUTYP2     0.031587
MEDICARE    0.031178
IIPINC3     0.029628
              ...
PRXRETRY    0.004966
IRFAMPMT    0.004810
IIHH65_2    0.004112
VESTR       0.002355
MAIIN102    0.002309
IRWELMOS    0.001917
GOVTPROG    0.001719
AIIND102    0.001484
PERID      -0.000396
IRFAMSVC   -0.000553
IRFAMSSI   -0.002666
IIWELMOS   -0.007639
VEREP      -0.007738
HLCALL99   -0.034450
HLCALLFG   -0.034450
PRXYDATA   -0.038797
IRKI17_2   -0.039168
IFATHER    -0.049935
IRHHSIZ2   -0.068281
HLCNOTYR   -0.069716
OTHINS     -0.075629
IRINSUR4   -0.088959
NRCH17_2   -0.091212
IRFAMSOC   -0.110676
IRPINC3    -0.128830
IRMEDICR   -0.144131
POVERTY3   -0.148304
GRPHLTIN   -0.194188
IRFAMIN3   -0.194889
IRPRVHLT   -0.204797
Name: Criminal, Length: 72, dtype: float64

In [9]:
train_df = train_df.drop(['IRHH65_2','HLTINNOS','IROTHHLT','IIPRVHLT'],axis=1)

In [10]:
train_df.shape

(45718, 68)

In [11]:
test_df = test_df.drop(['IRHH65_2','HLTINNOS','IROTHHLT','IIPRVHLT'],axis=1)

In [12]:
test_df.shape

(11430, 67)

In [13]:
train_df= train_df.drop(['PERID'],axis =1)

In [14]:
train_df.shape

(45718, 67)

In [15]:
ox_train = train_df.drop('Criminal',axis=1)
oy_train = train_df['Criminal']
ox_test  = test_df.drop('PERID',axis=1).copy()

In [16]:
train_df.shape, test_df.shape

((45718, 67), (11430, 67))

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
validation_size = 0.20
seed = 7
x_train,x_test,y_train,y_test = train_test_split(ox_train,oy_train, test_size=validation_size,random_state =seed)

In [19]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((36574, 66), (36574,), (9144, 66), (9144,))

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [21]:
from sklearn.metrics import log_loss, accuracy_score

In [22]:
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)
print("Test set score: {:.3f}".format(rfc.score(x_test,y_test)))

model2 = rfc.predict(x_test)
rfc.score(x_test,y_test)
acc_rfc = round(rfc.score(x_train,y_train)*100,2)
acc_rfc

model2_1 = rfc.predict_proba(x_test)
model2_accuracy = accuracy_score(y_test,model2)
model2_1_logloss = log_loss(y_test,model2_1)

print(" RandomForest")
print("Accuracy: {0:.4f}".format(model2_accuracy))
print("Log loss: {0:.4f}".format(model2_1_logloss))
#print("Number of nodes created: {}".format(rfc.tree_.node_count))

Test set score: 0.947
 RandomForest
Accuracy: 0.9466
Log loss: 0.2774

In [23]:
dtc = DecisionTreeClassifier()
dtc.fit(x_train,y_train)
print("Test set score: {:.3f}".format(dtc.score(x_test,y_test)))
model2 = dtc.predict(x_test)

dtc.score(x_test,y_test)
acc_dtc = round(rfc.score(x_train,y_train)*100,2)
acc_dtc

model2_1 = dtc.predict_proba(x_test)
model2_accuracy = accuracy_score(y_test,model2)
model2_1_logloss = log_loss(y_test,model2_1)

print(" DecisionTree")
print("Accuracy: {0:.2f}".format(model2_accuracy))
print("Log loss: {0:.2f}".format(model2_1_logloss))
print("Number of nodes created: {}".format(dtc.tree_.node_count))

Test set score: 0.935
 DecisionTree
Accuracy: 0.93
Log loss: 2.26
Number of nodes created: 3487

In [24]:
print("Number of features: %d" % len(train_df))

Number of features: 45718

In [25]:
models = []
models.append(('rfc',RandomForestClassifier()))
models.append(('dtc',DecisionTreeClassifier()))

In [26]:
from sklearn import model_selection
scoring = 'accuracy'

In [27]:
results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state= seed)
    cv_results = model_selection.cross_val_score(model,x_train,y_train,cv=kfold,scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = '%s: %f (%f)' % (name,cv_results.mean(),cv_results.std())
    print(msg)

rfc: 0.945590 (0.004252)
dtc: 0.932876 (0.003475)

In [28]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [30]:
adaboost = AdaBoostClassifier(
    base_estimator=RandomForestClassifier(max_depth=1),
    algorithm='SAMME',
    n_estimators=5000,
    random_state=seed)

#train classifier
adaboost.fit(x_train,y_train)

#calculating predictions
adaboost_y_pred = adaboost.predict(x_test)
adaboost_y_pred_prob = adaboost.predict(x_test)

#evaluate
adaboost_accuracy=accuracy_score(y_test,adaboost_y_pred)
adaboost_logloss = log_loss(y_test,adaboost_y_pred_prob)

print(" AdaBoost")
print("Accuracy: {0:.4f}".format(adaboost_accuracy))
print("Log loss: {0:.4f}".format(adaboost_logloss))

 AdaBoost
Accuracy: 0.9477
Log loss: 1.8055

In [31]:
print("Error: {0:.4f}".format(adaboost.estimator_errors_[0]))
print("Forest Importance: {0:.4f}".format(adaboost.estimator_weights_[0]))

Error: 0.0691
Forest Importance: 2.6003

In [33]:
gbc = GradientBoostingClassifier(
    max_depth=1,
    n_estimators=5000,
    warm_start=True,
    random_state=seed)

#train classifier
gbc.fit(x_train,y_train)

#calculating predictions
gbc_y_pred = gbc.predict(x_test)
gbc_y_pred_prob = gbc.predict(x_test)

#evaluate
gbc_accuracy=accuracy_score(y_test,gbc_y_pred)
gbc_logloss = log_loss(y_test,gbc_y_pred_prob)

print(" == Gradient Boosting ==")
print("Accuracy: {0:.4f}".format(gbc_accuracy))
print("Log loss: {0:.4f}".format(gbc_logloss))

 == Gradient Boosting ==
Accuracy: 0.9543
Log loss: 1.5789